<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Example - $title$</title>
    <!-- my CSS -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <h1> menu </h1>
        <a href="/index.html">Example</a>
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/index.html">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/diary/index.html">Diary</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/notebooks/index.html">Notebooks</a>
            </li>
          </ul>
      </nav>
    </header>

$body$

  </body>
</html>
